<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <title>FoodShare</title>

  <!--   CSS LINK-->
  <link rel="stylesheet" type="text/css" href="signUp/css/signup.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>

  <!--    Bootstrap link-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!--    Bootstrap link-->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
  <section id=signup>
    <div class="container-fluid">
      <div class="row">
        <div class="poster col-lg-3">
          <br><br><br><br><br><br><br><br>
          <h1>Welcome</h1>
          <br>
          <h5>We make sure that you get benifited by exploring food donors more than ever!  </h5>
          <br><br><br><br><br>
        </div>
        <div class="form col-lg-9">
          <div class="login-content">
            <form action="/rsignup" method="post">
              <h2 class="title">Sign Up</h2>
              <div class="input-div one">
                <div class="i">
                  <i class="fas fa-user"></i>
                </div>
                <div class="div">
                  <h5>Name</h5>
                  <input type="text" class="input" name="rname" required>
                </div>
              </div>

              <div class="input-div one">
                <div class="i">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="div">
                  <h5>Email</h5>
                  <input type="email" class="input" name="remail" required>
                </div>
              </div>
              <div class="input-div one">
                <div class="i">
                  <i class="fas fa-phone"></i>
                </div>
                <div class="div">
                  <h5>Phone Number</h5>
                  <input type="text" class="input" name="rphone" required>
                </div>
              </div>
              <div class="input-div one">
                <div class="i">
                  <i class="fas fa-address-card"></i>
                </div>
                <div class="div">
                  <h5>Address</h5>
                  <input type="text" class="input" name="raddress" required>
                </div>
              </div>
              <div class="input-div pass">
                <div class="i">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                  <h5>Password</h5>
                  <input type="password" class="input" name="rpassword" required>
                </div>
              </div>
              <br>
              <input type="submit" class="btn" value="Sign Up">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<!--    Bootstrap link-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="signUp/js/signup.js"></script>
</html>
